spring:
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5433/control-booth}
    username: ${JDBC_DATABASE_USERNAME:postgres}
    password: ${JDBC_DATABASE_PASSWORD:P4ssword!}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  main:
    banner-mode: off
  tomcat.threads.max: 10
  servlet.session.cookie:
    http-only: true
  servlet:
    context-path: /

  docker:
    compose:
      enabled: false
      lifecycle-management: start-only

error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR

tg:
  admin:
    password: admin
  userDetailsService: com.pehrs.controlbooth.service.CustomUserDetailsService

spring.security.oauth2.client:
  registration:
    control-booth:
      provider: keycloak
      client-id: control-booth
      client-secret: m842p8DJjR7dBMCObcxBZYGOW1dqpS42
      authorization-grant-type: authorization_code
      scope: openid,profile,email
      redirect-uri: ${NSA2_OAUTH_REDIRECT_URI:{baseUrl}/login/oauth2/code/control-booth}
      client-name: "Control-Booth Keycloak"
      client-authentication-method: client_secret_basic
  provider:
    keycloak:
      issuer-uri: ${NSA2_OAUTH_ISSUER_URI:http://auth.nsa2.com:9000/realms/control-booth}
      user-name-attribute: preferred_username